<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>

<h1>New Profile</h1>

<%= render 'form', profile: @profile %>
<%# f.label "Profile photo" %>
<%# f.file_field :avatar %><br>



<%= link_to 'Back', profiles_path %>
</div>