<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Hello <%= current_user.first_name %></h1>



<%= render 'form', profile: @profile %>
	
</div>

<%# form_for [:user, @profile] @person do |f| %>
			<%# f.label "Profile photo" %>
			<%# f.file_field :avatar %>
			<%# f.submit 'Upload' %>