body {
  padding-top: 60px;
}
nav {
  
  .navbar-toggle {margin: 13px 15px 13px 0;}
  a {
    font-size: 16px;
    color: white !important;
    text-decoration: none!important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    transition: all 0.3s ease;
  }
  a:hover {
    color: #e8f4f7 !important;
    text-decoration: none!important;

  }

  a:active {
    color: #e8f4f7 !important;
    text-decoration: none!important;
  
  }

}


/* Dropdown menu */

@media (max-width: 767px) {
  .navbar-nav {
    width: 30%;
    text-align: center;
    border-radius: 12px;
    margin-left: 200px;
    padding: 0px 10px 20px 10px;
    background-color: #506B83 !important;

    display:block !important; 
    background-color: #506B83 !important;
  }
  .navbar-nav .nav-item {
    float: none;
  }

  .navbar-nav .log-in-btn { 
    border: none !important;
    padding-left:0px !important;

      a {
          font-size: 16px;
          color: white !important;
          text-decoration: none!important;
          

          padding-bottom: 20px !important;
          padding-top: 20px !important;
          transition: all 0.3s ease;
        }
        a:hover {
          color: #e8f4f7 !important;
          text-decoration: none!important;

        }

        a:active {
          color: #e8f4f7 !important;
          text-decoration: none!important;
        
        }
  }
  .navbar-nav .btn{
    background-color: transparent !important;
  }
}


/* MY STYLES */

.navbar-inverse {
    background-color: #506B83 !important;
    border: none !important;
} 

.navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}


.navbar {
	height:100px;
}

img {
  margin-left: 15px;
  margin-bottom: 50px;
}

ul {
    display: flex;
    align-items: center;
}

.navbar-fixed-top ul {
  display: flex;
  align-items : center;
  heigth: 100%;
  margin-top: 2%;
}

button.navbar-toggle {
  background-color: #506B83 !important;
  border-color: #506B83 !important;
  }


.log-in-btn {
  padding-left: 20px;
  text-decoration: none!important;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: white;

  a {
    color: #216e9e !important;
    text-decoration: none!important;
    border: none !important;
  }

  a:hover {
    color: #4988af !important;
    text-decoration: none!important;
    border: none !important;
  }

  a:active {
    color: #4988af !important;
    text-decoration: none!important;
    border: none !important;
  }

  a:focus {
    color: #4988af !important;
    text-decoration: none!important;
    border: none !important;
  }
}

