body {
  line-height: 1.7;
  color: #4d4d4d;
  font-size: 1rem; 
  font-family: "Roboto", sans-serif;

}

/* HEADER WITH TEXT */

.site-intro {
	margin-top: 22%;
	margin-left: 5%;
}

h1 {
  font-weight: bold !important;
  font-size: 65px !important;
}

p {
  font-size: 20px;
}


.center-items {
  	width: 40%;
  	height: 500px !important;
  	background-color: rgba(220,226,229,0.3);
  	font-weight: lighter! important;
  	color: #547181;
  	border-radius: 25px;
    margin: 130px auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

/* REGISTER PAGE */

.center-items-register {
  	width: 70%;
  	height: 700px !important;
  	background-color: rgba(220,226,229,0.3);
  	font-weight: lighter! important;
  	color: #547181;
  	border-radius: 25px;
    margin: 130px auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

th {
	padding: 20px !important;
}


/* BUTTONS COLLECTION */

.btn.register {
	padding: 10px 20px !important;
	border-radius: 10px !important; 
	font-size: 16px;
	> a {text-decoration: none!important;}
}

.btn.form {
	background-color: rgb(145, 167, 179);
	padding: 10px 20px !important;
	border-radius: 10px !important; 
	font-size: 16px;
	color: rgb(237, 237, 237);
	font-weight: 300 !important;
	> a {text-decoration: none!important;}
}

.btn.form.margin {
	margin-left: 20px !important;
	background-color: rgb(145, 167, 179);
	padding: 10px 20px !important;
	border-radius: 10px !important; 
	font-size: 16px;
	color: rgb(237, 237, 237);
	font-weight: 300 !important;
	> a {text-decoration: none!important;}
}

